https://scott-huberty.github.io/eyelinkio/usage.html

In [ ]:
import eyelinkio
from eyelinkio.utils import _get_test_fnames 

fname = _get_test_fnames()[0]
edf_file = eyelinkio.edf.read_edf(r"E:\my_openai_api\070103_1.edf")
print(edf_file)

<EDF | 070103_1.edf>
  Version: EYELINK II 1
  Eye: BINOCULAR
  Pupil unit: PUPIL_DIAMETER
  Sampling frequency: 2000.0 Hz
  Calibrations: 2
  Length: 32.2255 seconds

In [3]:
print(edf_file.keys())
print(edf_file['info'].keys())
print(edf_file["discrete"].keys())
print(edf_file['info']['calibrations'])

dict_keys(['info', 'discrete', 'times', 'samples'])
dict_keys(['meas_date', 'version', 'camera', 'serial', 'camera_config', 'sfreq', 'ps_units', 'eye', 'sample_fields', 'edfapi_version', 'screen_coords', 'calibrations', 'filename'])
dict_keys(['messages', 'buttons', 'inputs', 'blinks', 'saccades', 'fixations'])
[{'onset': np.float64(0.043), 'eye': 'left', 'validation': array([( 640., 512., 0.48, -22.1, -0.7), ( 640.,  87., 0.24,  -5.9, -9.3),
       ( 640., 936., 0.56,  24.7, -7.2), (  77., 512., 0.21,  -3.7,  8.9),
       (1202., 512., 0.54, -23.4, -8.4)],
      dtype=[('point_x', '<f8'), ('point_y', '<f8'), ('offset', '<f8'), ('diff_x', '<f8'), ('diff_y', '<f8')]), 'model': 'HV5'}, {'onset': np.float64(0.043), 'eye': 'right', 'validation': array([( 640., 512., 0.34,  13.8,  -7.2),
       ( 640.,  87., 0.29,   7. ,  11.3),
       ( 640., 936., 0.57,   6.4,  25.3),
       (  77., 512., 0.53, -24.3,  -2.3),
       (1202., 512., 0.82,   6. , -37.1)],
      dtype=[('point_x', '<f8'), ('point_y', '<f8'), ('offset', '<f8'), ('diff_x', '<f8'), ('diff_y', '<f8')]), 'model': 'HV5'}]

In [ ]:
dfs = edf_file.to_pandas()

Creating RawArray with float64 data, n_channels=6, n_times=64451
    Range : 0 ... 64450 =      0.000 ...    32.225 secs
Ready.

In [ ]:
dfs.keys()
#奇怪，info不见了？

dict_keys(['discrete', 'samples', 'calibrations'])

In [9]:
dfs.get('discrete')

{'messages':       stime                                                msg
 0    0.0000                              RECCFG CR 2000 2 1 LR
 1    0.0000                                    ELCLCFG BTABLER
 2    0.0000              GAZE_COORDS 0.00 0.00 1279.00 1023.00
 3    0.0000                    THRESHOLDS L 121 216  R 136 223
 4    0.0000                      ELCL_WINDOW_SIZES 160 160 0 0
 ..      ...                                                ...
 74   0.0435  ELCL_EFIT_PARAMS 1.01 4.00  0.15 0.05  0.65 0....
 75   0.0435                      !MODE RECORD CR 2000 2 1 LR\n
 76   2.1465                                              start
 77   2.1465                                                  0
 78  32.1475                                                end

 [79 rows x 2 columns],
 'buttons':        stime  buttons
 0   0.000500      0.0
 1   0.043215      0.0
 2   0.043334      0.0
 3   0.043500      0.0
 4   0.043500      0.0
 5  32.225000      0.0,
 'inputs':        stime  input
 0   0.000500  127.0
 1   0.043215  127.0
 2   0.043334  127.0
 3   0.043500  127.0
 4   0.043500  127.0
 5  32.225000  127.0,
 'blinks':          eye   stime   etime
 0   LEFT_EYE  0.0015  0.0430
 1  RIGHT_EYE  0.0015  0.0430
 2  RIGHT_EYE  2.2265  2.3225
 3   LEFT_EYE  2.2215  2.3365,
 'saccades':           eye    stime    etime           sxp           syp           exp  \
 0    LEFT_EYE   0.0015   0.0430  1.000000e+08  1.000000e+08  1.000000e+08
 1   RIGHT_EYE   0.0015   0.0430  1.000000e+08  1.000000e+08  1.000000e+08
 2   RIGHT_EYE   0.2755   0.2925  6.524000e+02  4.637000e+02  6.151000e+02
 3    LEFT_EYE   0.2735   0.2945  6.185000e+02  4.845000e+02  5.910000e+02
 4   RIGHT_EYE   2.2065   2.3595  6.240000e+02  5.039000e+02  5.839000e+02
 5    LEFT_EYE   2.2035   2.3705  6.441000e+02  5.188000e+02  6.294000e+02
 6    LEFT_EYE   3.9815   3.9935  6.360000e+02  5.060000e+02  6.739000e+02
 7   RIGHT_EYE   3.9795   3.9955  6.272000e+02  4.924000e+02  6.750000e+02
 8   RIGHT_EYE   4.1295   4.1405  6.648000e+02  4.740000e+02  6.312000e+02
 9    LEFT_EYE   4.1265   4.1455  6.734000e+02  4.933000e+02  6.348000e+02
 10  RIGHT_EYE  14.1245  14.1285  6.371000e+02  4.820000e+02  6.281000e+02
 11   LEFT_EYE  14.1205  14.1305  6.473000e+02  5.006000e+02  6.258000e+02
 12   LEFT_EYE  15.8265  15.8385  6.457000e+02  5.025000e+02  6.305000e+02
 13  RIGHT_EYE  15.8285  15.8455  6.300000e+02  4.859000e+02  6.358000e+02
 14  RIGHT_EYE  16.4005  16.4145  6.314000e+02  4.541000e+02  6.257000e+02
 15   LEFT_EYE  16.3955  16.4155  6.460000e+02  4.634000e+02  6.325000e+02
 16   LEFT_EYE  17.2485  17.2625  6.314000e+02  5.117000e+02  6.681000e+02
 17  RIGHT_EYE  17.2485  17.2635  6.184000e+02  4.893000e+02  6.625000e+02
 18  RIGHT_EYE  17.6405  17.6475  6.470000e+02  4.903000e+02  6.209000e+02
 19   LEFT_EYE  17.6385  17.6515  6.584000e+02  5.114000e+02  6.268000e+02
 20   LEFT_EYE  18.0715  18.0755  6.310000e+02  5.130000e+02  6.206000e+02
 21   LEFT_EYE  18.3715  18.3805  6.275000e+02  5.167000e+02  6.551000e+02
 22  RIGHT_EYE  18.3695  18.3835  6.090000e+02  4.983000e+02  6.494000e+02
 23  RIGHT_EYE  27.6015  27.6125  6.202000e+02  5.009000e+02  6.543000e+02
 24   LEFT_EYE  27.5985  27.6135  6.272000e+02  5.138000e+02  6.589000e+02
 25  RIGHT_EYE  27.9995  28.0065  6.421000e+02  5.141000e+02  6.236000e+02
 26   LEFT_EYE  27.9955  28.0085  6.598000e+02  5.412000e+02  6.253000e+02
 27   LEFT_EYE  30.2575  30.2695  6.358000e+02  5.064000e+02  5.971000e+02
 28  RIGHT_EYE  30.2605  30.2725  6.158000e+02  4.885000e+02  5.891000e+02
 29   LEFT_EYE  30.5875  30.5985  6.097000e+02  4.903000e+02  6.424000e+02
 30  RIGHT_EYE  30.5835  30.5985  5.898000e+02  4.757000e+02  6.314000e+02
 31   LEFT_EYE  30.9275  30.9455  6.432000e+02  4.869000e+02  6.013000e+02
 32  RIGHT_EYE  30.9335  30.9475  6.242000e+02  4.750000e+02  5.891000e+02
 33   LEFT_EYE  31.1775  31.1925  6.048000e+02  5.107000e+02  6.422000e+02
 34  RIGHT_EYE  31.1775  31.1925  5.843000e+02  4.941000e+02  6.282000e+02

              eyp          pv
 0   1.000000e+08    0.000000
 1   1.000000e+08    0.000000
 2   5.028000e+02  116.900002
 3   5.267000e+02  121.199997
 4   4.385000e+02  396.399994
 5   4.875000e+02  322.200012
 6   4.997000e+02   80.800003
 7   4.792000e+02   91.699997
 8   4.831000e+02   91.199997
 9   4.946000e+02   92.199997
 10  4.797000e+02   60.799999
 11  5.048000e+02   53.200001
 12  4.735000e+02   77.699997
 13  4.643000e+02   77.800003
 14  4.904000e+02   64.000000
 15  5.076000e+02   91.000000
 16  5.102000e+02   86.099998
 17  4.873000e+02   91.400002
 18  4.904000e+02   62.200001
 19  5.135000e+02   72.699997
 20  5.167000e+02   39.400002
 21  5.133000e+02   76.800003
 22  4.898000e+02   87.599998
 23  5.107000e+02   98.000000
 24  5.332000e+02   91.800003
 25  5.042000e+02   65.500000
 26  5.129000e+02   88.599998
 27  5.085000e+02   82.199997
 28  4.804000e+02   77.199997
 29  4.856000e+02   73.400002
 30  4.670000e+02   94.199997
 31  5.024000e+02  106.599998
 32  4.869000e+02   80.800003
 33  4.979000e+02   81.599998
 34  4.786000e+02   78.800003  ,
 'fixations':           eye    stime    etime         axp         ayp
 0    LEFT_EYE   0.0505   0.2725  620.200012  481.200012
 1   RIGHT_EYE   0.0505   0.2745  652.799988  458.600006
 2    LEFT_EYE   0.2955   2.2025  629.700012  521.700012
 3   RIGHT_EYE   0.2935   2.2055  621.000000  499.100006
 4   RIGHT_EYE   2.3605   3.9785  625.500000  485.200012
 5    LEFT_EYE   2.3715   3.9805  638.599976  505.299988
 6    LEFT_EYE   3.9945   4.1255  671.700012  493.899994
 7   RIGHT_EYE   3.9965   4.1285  669.400024  482.899994
 8    LEFT_EYE   4.1465  14.1195  644.400024  509.100006
 9   RIGHT_EYE   4.1415  14.1235  636.700012  490.500000
 10   LEFT_EYE  14.1315  15.8255  637.700012  502.500000
 11  RIGHT_EYE  14.1295  15.8275  625.099976  484.799988
 12   LEFT_EYE  15.8395  16.3945  644.099976  465.500000
 13  RIGHT_EYE  15.8465  16.3995  634.400024  450.200012
 14   LEFT_EYE  16.4165  17.2475  634.799988  510.000000
 15  RIGHT_EYE  16.4155  17.2475  621.599976  491.399994
 16   LEFT_EYE  17.2635  17.6375  661.000000  510.600006
 17  RIGHT_EYE  17.2645  17.6395  647.000000  492.200012
 18   LEFT_EYE  17.6525  18.0705  636.099976  514.299988
 19  RIGHT_EYE  17.6485  18.3685  618.599976  494.100006
 20   LEFT_EYE  18.0765  18.3705  625.400024  513.700012
 21   LEFT_EYE  18.3815  27.5975  642.799988  515.799988
 22  RIGHT_EYE  18.3845  27.6005  625.599976  496.899994
 23   LEFT_EYE  27.6145  27.9945  658.500000  539.900024
 24  RIGHT_EYE  27.6135  27.9985  645.900024  517.700012
 25   LEFT_EYE  28.0095  30.2565  634.799988  508.100006
 26  RIGHT_EYE  28.0075  30.2595  618.400024  492.299988
 27  RIGHT_EYE  30.2735  30.5825  586.799988  472.000000
 28   LEFT_EYE  30.2705  30.5865  605.700012  491.799988
 29   LEFT_EYE  30.5995  30.9265  644.599976  488.799988
 30  RIGHT_EYE  30.5995  30.9325  623.400024  471.700012
 31   LEFT_EYE  30.9465  31.1765  605.799988  507.899994
 32  RIGHT_EYE  30.9485  31.1765  587.000000  491.299988
 33   LEFT_EYE  31.1935  32.2245  644.700012  501.799988
 34  RIGHT_EYE  31.1935  32.2245  621.500000  486.500000}

In [10]:
dfs.get('samples')

        xpos_left  xpos_right   ypos_left  ypos_right  ps_left  ps_right
0             NaN         NaN         NaN         NaN      0.0       0.0
1             NaN         NaN         NaN         NaN      0.0       0.0
2             NaN         NaN         NaN         NaN      0.0       0.0
3             NaN         NaN         NaN         NaN      0.0       0.0
4             NaN         NaN         NaN         NaN      0.0       0.0
...           ...         ...         ...         ...      ...       ...
64446  643.799988  623.299988  506.000000  488.000000   4920.0    4132.0
64447  643.700012  623.599976  505.899994  489.600006   4927.0    4129.0
64448  643.099976  624.099976  506.100006  491.100006   4935.0    4125.0
64449  642.700012  624.299988  506.299988  492.500000   4936.0    4123.0
64450  642.000000  624.799988  506.500000  493.200012   4936.0    4123.0

[64451 rows x 6 columns]

In [11]:
dfs.get('calibrations')

   point_x  point_y  offset  diff_x  diff_y    eye model  onset
0    640.0    512.0    0.48   -22.1    -0.7   left   HV5  0.043
1    640.0     87.0    0.24    -5.9    -9.3   left   HV5  0.043
2    640.0    936.0    0.56    24.7    -7.2   left   HV5  0.043
3     77.0    512.0    0.21    -3.7     8.9   left   HV5  0.043
4   1202.0    512.0    0.54   -23.4    -8.4   left   HV5  0.043
0    640.0    512.0    0.34    13.8    -7.2  right   HV5  0.043
1    640.0     87.0    0.29     7.0    11.3  right   HV5  0.043
2    640.0    936.0    0.57     6.4    25.3  right   HV5  0.043
3     77.0    512.0    0.53   -24.3    -2.3  right   HV5  0.043
4   1202.0    512.0    0.82     6.0   -37.1  right   HV5  0.043

In [ ]:
#查验所有嵌套的键，主键以及次级键
def print_all_keys(dictionary, indent=0):
    for key in dictionary.keys():
        print('  ' * indent + str(key))
        if isinstance(dictionary[key], dict):
            print_all_keys(dictionary[key], indent + 1)

print_all_keys(dfs)

discrete
  messages
  buttons
  inputs
  blinks
  saccades
  fixations
samples
calibrations

```
discrete_exported.xlsx：
├── messages       # 消息记录
├── buttons        # 按钮事件
├── inputs         # 输入数据
├── blinks         # 眨眼数据
├── saccades       # 扫视数据
└── fixations      # 注视数据

samples_exported.xlsx
└── samples        # eyelink采样数据

calibrations_exported.xlsx
└── calibrations   # 校准数据
```

In [ ]:
import pandas as pd

data = dfs
def export_discrete_to_excel(data_dict, filename="discrete_data.xlsx"):

    try:
        with pd.ExcelWriter(filename, engine='openpyxl') as writer:
            # 遍历所有次级键
            for sheet_name, df in data_dict['discrete'].items():
                # 清理工作表名称（Excel限制：最大31字符，无特殊符号）
                clean_name = sheet_name[:31].replace(':', '_').replace('?', '_')
                
                # 将DataFrame写入工作表
                df.to_excel(
                    writer,
                    sheet_name=clean_name,
                    index=False,
                    header=True
                )
                print(f"已导出工作表: {clean_name}")
                
        print(f"\n文件 {filename} 生成成功！")
        return True
    
    except Exception as e:
        print(f"导出失败: {str(e)}")
        return False
export_discrete_to_excel(data)

已导出工作表: messages
已导出工作表: buttons
已导出工作表: inputs
已导出工作表: blinks
已导出工作表: saccades
已导出工作表: fixations

文件 discrete_data.xlsx 生成成功！

True

In [ ]:
import pandas as pd
from openpyxl.utils.exceptions import IllegalCharacterError

def export_key_to_excel(data_dict, main_key, filename=None):
    
    try:
        # 自动生成文件名
        filename = filename or f"{main_key}_data.xlsx"
        
        # 获取目标主键数据
        target_data = data_dict.get(main_key)
        
        # 空值验证强化
        if target_data is None:
            print(f"主键 '{main_key}' 不存在")
            return False
        if isinstance(target_data, pd.DataFrame) and target_data.empty:
            print(f"主键 '{main_key}' 数据为空")
            return False
        if isinstance(target_data, dict) and not target_data:
            print(f"主键 '{main_key}' 字典为空")
            return False

        with pd.ExcelWriter(filename, engine='openpyxl') as writer:
            # 类型分支处理
            if isinstance(target_data, dict):
                # 处理嵌套字典结构
                for sub_key, df in target_data.items():
                    _write_sheet(writer, sub_key, df, main_key)
            elif isinstance(target_data, pd.DataFrame):
                # 处理直接DataFrame结构
                _write_sheet(writer, main_key, target_data, main_key)
            else:
                print(f"主键 '{main_key}' 类型不支持: {type(target_data)}")
                return False

        print(f"\n文件 {filename} 导出成功！")
        return True

    except Exception as e:
        print(f"主键 '{main_key}' 导出失败: {str(e)}")
        return False

def _write_sheet(writer, sheet_name, data, main_key):
    #写入工作表
    try:
        # 名称清理
        clean_name = str(sheet_name)[:31].translate(
            str.maketrans('[]:*?/\\', '_'*7)
        )
        
        # 类型转换
        if not isinstance(data, pd.DataFrame):
            data = pd.DataFrame(data) if isinstance(data, (list, dict)) else pd.DataFrame([data])
        
        # 空数据检查
        if data.empty:
            print(f"主键 [{main_key}] 工作表 [{clean_name}] 数据为空")
            return

        # 写入Excel
        data.to_excel(
            writer,
            sheet_name=clean_name,
            index=False,
            header=True
        )
        print(f"主键 [{main_key}] 工作表 [{clean_name}] 已导出 ({len(data)} 行)")
        
    except IllegalCharacterError:
        print(f"非法字符，已自动过滤工作表名: {sheet_name} -> {clean_name}")
        data.to_excel(writer, sheet_name='filtered_sheet', index=False)
    except Exception as e:
        print(f"工作表 [{clean_name}] 导出异常: {str(e)}")


export_key_to_excel(data, 'samples')

export_key_to_excel(data, 'calibrations')

主键 [samples] 工作表 [samples] 已导出 (64451 行)

文件 samples_data.xlsx 导出成功！
主键 [calibrations] 工作表 [calibrations] 已导出 (10 行)

文件 calibrations_data.xlsx 导出成功！

True